.input{
    display: flex;
    width: 90%;
    align-items: center;
    position: relative;
}

.input__box{
    width: 100%;
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 20px 30px;
    border-radius: 50px;
    transition: 0.25s;
    box-shadow:inset 0px 0px 5px #dddd;
}

.input__box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input__submit{
    height: 50px;
    width: 50px;
    margin: 12px;
    font-size: 15px;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 0;
    color: white;
    background-color: #2f74c0;
    transition: 0.2s all;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;


}

.input__submit:hover{
    transform: scale(0.8) ;
    box-shadow: 0 0 10px rgb(108, 105, 105) inset;
}